SEARXNG_BASE_URL=
FIRECRAWL_BASE_URL=
FIRECRAWL_API_KEY=
TYPESAFE_API_KEY=
OPENAI_API_KEY=
OPENAI_MODEL=
SLACK_WEBHOOK_URL=
DOCKTAPE_LANGSMITH_TRACING=
LANGSMITH_API_KEY=
LANGSMITH_PROJECT=docktape-lead-agent
